*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root{
    scroll-behavior: smooth;
    
}

body{
    font-family: "Open Sans", sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200%;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(219, 220, 215, 0.5) 0%, rgba(221, 220, 215, 0.5) 24%, rgba(226, 201, 204, 0.5) 30%, rgba(231, 98, 125, 0.5) 46%, rgba(184, 35, 90, 0.5) 59%, rgba(128, 19, 86, 0.5) 71%, rgba(61, 22, 53, 0.5) 84%, rgba(28, 26, 39, 0.5) 100%), url(../img/imagen\ de\ inicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
}

.menu{
    position: fixed;
    top: 30px;
    right: 30px;
    background: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    font-size: 20px;
    background-image: linear-gradient(45deg, #874da2 100%, #c43a30 0%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0 ,0, .5);
}

.spread{
    transform: translate(0);
}

.menu-navegacion a{
    color: white;
    text-decoration: none;
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}

/*Cuerpo de pagina*/
/*Servicos*/

.titulo{
    text-align: center;
    font-weight: 300;
    color: lightcoral;
    margin-bottom: 40px;
    font-size: 40px;
}
.sustitulo{
    text-align: center;
    font-weight: 300;
    color: black;
    margin-bottom: 40px;
    font-size: 40px;
}

.contenedor-service{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-service img{
    width: 40%;
}

.checklist-service{
    width: 45%;
}

.service{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 7px;
    color: lightcoral;
}

/*Servicios de Logos*/

.contenedor-servicelog{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicelog img{
    width: 35%;
}

.checkslist-servicelog{
    width: 30%;
}

.servicelog{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 7px;
    color: lightcoral;
}

/*Digitalización*/

.contenedor-servicedigt{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicedigt img{
    width: 55%;
}

.checkslist-servicedigt{
    width: 20%;
}

.servicedigt{
    margin-bottom: 15px;
}

.n-service{
    margin-bottom: 7px;
    color: lightcoral;
}

/*flooter*/
footer{
    background: rgb(148, 44, 173);
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: black;
}

.textos-pequeños{
    color: white;
}

.brand{
    font-weight: 600;
    font-size: 50px;
}

.brand+p{
    font-weight: 500;
}
.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    color: black;
}

.social-media-icon:hover{
    background: #fff;
    color: red;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    height: 3px;
    background: #fff;
    margin-bottom: 60px;
}
@media screen and (max-width:800px){
    .menu-navegacion{
        width: 30vw;
    }
    .titulo{
        font-size: 20px;
    }
    
    .contenedor-servicelog{
        width: 70%;
        /*text-align: left;*/
        font-size: 15px;
    }

    .contenedor-servicelog img{
        width: 50%;
    }

    .contenedor-servicedigt{
        width: 70%;
        font-size: 10px;

    }

    .contenedor-servicedigt img{
        width: 50%;
    }
    .footer-content{
        justify-content: center;
    }
    
    .social-media-icon{
        margin-left: 0;
    }

    .social-media{
        width: 90%;
        justify-content: space-evenly;
    }

    .social-media i{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }

}
/*
@media screen and (max-width:500px ){

    .menu-navegacion{
        width: 65vw;
    }

    .menu{
        top: 20px;
        right: 20px;
    }

    .titulo{
        font-size: 30px;
    }

    .sustitulo{
        font-size: 30px;
    }

    .contenedor-servicelog{
        font-size: 15px;
    }

    .contenedor-servicelog img{
        width: 80%;
        margin-bottom: 20px;
    }

    .contenedor-servicedigt{
        font-size: 15px;
    }

    .social-media{
        width: 100%;
    }

    .contact-us{
        width: 90%;
    }



}*/

@media screen and (max-width:360px){
    header{
        height: 120vh;
        background-image: url(../img/Banner0.2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
}